.ivu-form .ivu-form-item-label{
    font-size: 14px;
}
.ivu-input{
    font-size: 14px;
}
.ivu-form-item-required .ivu-form-item-label:before{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
}


.layout {
    background: #f5f7f9;
}

.layout-wrap {
    position: relative;
    width: 92%;
    margin: 0 auto;
}

.layout-header {
    display: block;
    position: relative;
    height: 60px;
    background: #fff;
}

.layout-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #e9eaec;
    position: absolute;
    left: 0;
    bottom: 0;
}

.logo {
    float: left;
    display: inline-block;
    height: 60px;
    overflow: hidden;
}

.logo img {
    float: left;
    display: block;
    height: 60px;
}

.logo span {
    line-height: 60px;
    font-size: 16px;
}

.layout-content {
    margin: 20px 0 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.layout-navigate {
    padding: 10px 0;
    font-size: 14px;
}

.layout-navigate:after {
    content: "";
    display: block;
    width: 1px;
    background: #d7dde4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.layout-content-main {
    padding: 25px 20px;
    min-height: 200px;
}

.layout-content-main h2 {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.items-footer {
    padding: 20px 0 100px;
}

.layout-content-main:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 1px;
    background: #d7dde4;
}

.layout-footer {
    display: block;
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
.content-wrap{
    position: relative;
    padding-bottom: 100px;

}
.auto-form-wrap {
    padding-top:10px;
}
.content-table{
    border: none
}
.content-table .ivu-table:after{
    width: 0;
}
.content-page{
    padding-top: 20px
}
@media screen and (min-width:1024px) and (max-width:1366px) {
    .auto-form-wrap {
        width: 50%
    }
}
@media screen and (min-width:1367px){
    .auto-form-wrap {
        width: 33.33%
    }
}

.content-left{
    margin-right:240px;
}
.content-right{
    position: absolute;
    top:0;
    right:20px;
}